#otpbox{
    width:30%;
    padding:5%;
    margin:auto;
    /* text-align:center; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
    margin-bottom: 50px;
}


#otpenter{
  padding:15px;
  width:70%;
  font-size: large; 
  text-align: center; 
 

}
#confirm{
background-color: rgb(238, 105, 176);
color:white;
padding:20px;
width:80%;
margin-top: 30px;
border:0;
font-size: large; 
border-radius:30px;

}
#confirm:hover{
background-color:darkgreen;

}
